071

my_variable 이름의 비어있는 튜플을 만들라.

In [ ]:
my_variable = ()

072

2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 

제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는

 저장하지 않는다.)


 순위	영화

1	닥터 스트레인지

2	스플릿

3	럭키

In [ ]:
movie_rank = ("Doctor strange", "split", "lucky")
movie_rank

('Doctor strange', 'split', 'lucky')

073

숫자 1 이 저장된 튜플을 생성하라.

In [ ]:
tuple = (1)
print(type(tuple))
# tuple 단일로 넣을거면 쉼표 붙여줘야함.
tuple = (1,)
print(type(tuple))

<class 'int'>
<class 'tuple'>

074

다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

    >> t = (1, 2, 3)
    >> t[0] = 'a'
    Traceback (most recent call last):
      File "<pyshell#46>", line 1, in <module>
        t[0] = 'a'
    TypeError: 'tuple' object does not support item assignment

In [ ]:
t = (1, 2, 3)
t[0] = 'a'
# 에러 문구 그대로 튜플은 원소수정이 불가능한 자료구조이다

TypeError: ignored

075

아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

    t = 1, 2, 3, 4

In [ ]:
t = 1, 2, 3, 4
t1 = (1,2,3,4)
print("t type", type(t))
print("t1 type",type(t1))
# t는 튜플을 바인딩하고있다. 원칙은 괄호 쳐야하는데 안 쳐도 됨.

t type <class 'tuple'>
t1 type <class 'tuple'>

076

변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A',

 'b', 'c') 튜플을 가리키도록 수정 하라.

    t = ('a', 'b', 'c')

In [ ]:
t = ('a', 'b', 'c')
print(t)
# 튜플은 원소 수정이 안되므로 새로 튜플을 지정해서 때려박는다.
t = ("A","B","C")
print(t)

('a', 'b', 'c')
('A', 'B', 'C')

077

다음 튜플을 리스트로 변환하라.

    interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print("interest type: ",type(interest))

# sol1 : 그냥 새로 지정해버림.
interest = ["삼성전자","LG전자", "SK Hynix"]
print("interest type:",type(interest))

# sol2 튜플로 전환
interest_list = list(interest)
print(type(interest_list))

interest type:  <class 'tuple'>
interest type: <class 'list'>
<class 'list'>

['삼성전자', 'LG전자', 'SK Hynix']

078

다음 리스트를 튜플로 변경하라.

    interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(interest)
interest_tuple = tuple(interest)
#그냥 코랩 오류임.

['삼성전자', 'LG전자', 'SK Hynix']

TypeError: ignored

079 

다음 코드의 실행 결과를 예상하라.

    temp = ('apple', 'banana', 'cake')

    a, b, c = temp

    print(a, b, c)

In [ ]:
temp = ('apple', 'banana', 'cake')

a, b, c = temp

print(a, b, c)

#apple banana cake
# a, b, c로 지정해서 빼냄.

apple banana cake

080 

1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

In [1]:
even = tuple(range(2, 100, 2))
print(even)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)